<header>
    <a class="logo" href="#" alt="SportClick" title="SportClick" >
        <img src="assets/img/logo.svg" /> 
    </a>


    <div class="nav-menu">
        <a href="/" class="menu-item">
            Главное
        </a>
        <a href="/" class="menu-item">
            Сервисы
        </a>
    </div>

    <div class="menu">
        <a href="/" class="menu-item">
            <i class="icon-chat"></i>
            Входящие
        </a>
        <a href="/" class="menu-item">
            <i class="icon-video"></i>
            Журнал
        </a>
        <a href="/" class="menu-item">
            <i class="icon-favorite"></i>
            Желаемое
        </a>
        <a href="/" class="menu-item">
            <i class="icon-trolly"></i>
            Корзина
        </a>
        <a href="/" class="menu-item">
            <i class="icon-notification"></i>
            Уведомления
        </a>
        <a href="/" class="menu-item">
            <i class="icon-person"></i>
            Войти
        </a>
    </div>
</header>
