<div class="card">
    <div class="card-body">
        <img src="/assets/img/img.svg" alt="...">


        <a href="#" class="m-card-img">
            <img src="/assets/img/imgcard.png" alt="...">
        </a>

    <h1>
        Заголовок Заголовок Заголовок Заго ловок Заглов окЗаголов окЗаго ловок заг оловоксCard title
        Some quick example text to build on the card title and make up the bulk of the card's content.

    </h1>
    <span class="card-text">
        Some quick example text to build on the card title and make up the bulk of the card's content.
        Some quick example text to build on the card title and make up the bulk of the card's content.
        Some quick example text to build on the card title and make up the bulk of the card's content.
    </span>
    <a href="#" class="further">дальше</a>

    
    <div class="card-actions">
      <span><i class="icon-like"></i> Понравилось 356</span>
      <span><i class="icon-chat"></i> 5</span>
      <span><i class="icon-eye"></i> 321</span>
      <span><i class="icon-arrow"></i></span>
    </div>

    </div>
</div>